@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply m-0 p-0 font-sans antialiased;
}

code {
  @apply font-mono;
}

/* Remove default top margins from heading elements */
h1, h2, h3, h4, h5, h6 {
  @apply mt-0;
}

/* Set a background color for the entire document */
html, body {
  @apply bg-black h-full;
}

.App {
  @apply text-center min-h-screen bg-black text-white;
}

.App-logo {
  @apply h-[40vmin] pointer-events-none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  @apply bg-[#1f1f1f] min-h-screen flex flex-col items-center justify-center text-white;
}

.App-link {
  @apply text-[#61dafb];
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Additional styles to make the button in home.js cooler */
button {
  @apply bg-gradient-to-r from-[#72edf2] to-[#5151e5] text-white rounded-full px-6 py-3 text-base cursor-pointer shadow-lg transition-transform transform;
}

button:hover {
  @apply translate-y-[-3px] shadow-lg;
}

button:active {
  @apply translate-y-0 shadow-md;
}

.spinner {
  @apply inline-block animate-spin;
}
